body,
html {
  height: 100%;
}

body {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.content {
  height: 100%;
  position: absolute;
  margin-left: 365px;
}

.mypage {
  background-color: hsl(0, 68%, 45%);
  width: 320px;
  height: auto;
  margin: 0 auto;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  opacity: 0.5;
}

.gridhelper {
  width: 68px;
  height: 5000px;
  background-color: hsl(71, 79%, 85%);
  position: sticky;
}

.image {
  height: 220px;
  width: 951px;
  background-color: hsl(329, 82%, 65%);
  background-image: var(--image);
  position: absolute;
  top: 10px;
  margin-left: 365px;
  margin-right: 480px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

ol {
  counter-reset: numar;
  list-style-type: none;
  text-align: center;
  top: 600px;
  line-height: 2;
  align-items: center;
  /* position: absolute; */
}

li {
  list-style-type: none;
}

ol > li {
  counter-increment: numar;
}

li::before {
  content: counters(numar, ". ") ") ";
  padding-right: 30px;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .mypage {
    width: 764px;
    gap: 20px;
    height: auto;
  }
  .gridhelper {
    width: 78px;
    height: 5000px;
  }
}
@media (min-width: 1440px) {
  .mypage {
    width: 1440px;
    height: 4000px;
    gap: 24px;
  }
  .gridhelper {
    width: 98px;
    height: 100%;
  }

  p {
    margin-left: 370px;
    margin-right: 480px;
    top: 800px;
  }

  .image {
    width: 951px;
  }
}
